<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/group.css">
    <title>Дипломник |Створення нової групи</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg nav-dark" style="background-color: #9F1C21;">
        <div class="container">
            <a class="navbar-brand" href="/diplomnic">
                <img src="/images/logo_red.jpg" alt="НТУ ХПІ" width="75px" height="75px">
            </a>
            <div class="d-flex gap-3">
                <div class="borders">
                    <a href="/createGroup"  class="link-text">Створити нову групу</a>
                </div>
                <div>
                    <a href="/suggestedThemes"  class="link-text">Запропоновані теми</a>
                </div>
                <div class="lng borders">
                    <a href="#" class="lng__link">Завдання</a>
                    <div class="lng__list_wrapper">
                        <div class="lng__list">
                            <a href="/diplomnic/listOfTask" >Список завдань</a>
                            <a href="/checkTask">Перевірити завдання</a>
                            <a href="/createTask">Додати нове завдання</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lng">
                <a href="#" class="lng__link">Обліковий запис</a>
                <div class="lng__list_wrapper">
                    <div class="lng__list">
                        <a href="/information">Повна інформація</a>
                        <a href="/logout" >Вийти з облікового запису</a>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <main>
        <div class="form-containers">
            <div class="form-card">
                <div class="form-container">
                    <div class="form-header">
                        <h5>Створення нової групи</h5>
                    </div>
                    <div class="form-body">
                        <form th:action="@{/diplomnic/saveGroup}" enctype="multipart/form-data"  th:object="${group}" method="post">
                            <div th:if="${params == 'exist'}">
                                <div class="message error" >Ви вже групу створили з такою назвою</div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="control-label"> Назва групи</label>
                                <input
                                        type="text"
                                        id="groupName"
                                        name="groupName"
                                        th:field="*{groupName}"
                                        class="form-control"
                                        placeholder="Уведіть назву групи"
                                        maxlength="50"
                                        required
                                />
                            </div>

                            <div class="form-group mb-3">
                                <label class="control-label"> Тип групи</label>
                                <input type="radio" id="bachelor" value="bachelor" th:field="*{groupType}" required class="radio-button"> Бакалаври
                                <input type="radio" id="master" value="master" th:field="*{groupType}" required class="radio-button"> Магістри
                            </div>
                            <div class="form-group mb-3">
                                <label class="control-label">Завантажити список студентів</label>
                                <input type="file" name="file" id="file" class="file-input">
                            </div>
                            <div>
                                <button type="button" onclick="window.location.href='/diplomnic'" class="home">На головну</button>
                                <button type="submit" class="submit-button">Прийняти</button>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="image-container">
                    <img src="/images/background_1.jpg" alt="">
                </div>
            </div>
        </div>
    </main>
    <nav class="" style="background-color: white">
        <div class="line-container">
            <div class="custom-line"></div>
        </div>
        <div class="footer-container">
            <div class="left-container">
                <div class="image">
                    <img src="/images/logo_white.png" alt=""></img>
                </div>
                <div class="text">
                    <a style="color: #9F1C21; text-align: center">НТУ “ХПІ”<br></a>
                    <a style="color: #9F1C21"><br>Вищий навчальний заклад IV ступеню акредитації державної форми<br>
                        власності, підпорядкований Міністерству освіти й науки України<br><br> в 2010 році отримав статус дослідницького національного університету</a>
                </div>
            </div>
            <div class="right-container">
                <div style="color: #9F1C21">
                    <a style="color: #9F1C21; text-align: center" >Наша адреса<br></a>
                    <a><br>НТУ "ХПІ"<br>вул. Кирпичова, 2<br>Харків, 61002<br>Україна</a>
                </div>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>