
.submit-button{
    width: 250px;
    height: 3rem;
    border: 0;
    color: white;
    background-color: #9F1C21;
    margin: 3rem;
    border-radius: 10px;
}
.buttons{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.tasks-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin: 1rem;
}

.task-title {
    font-weight: 700;
    font-size: 20px;
    flex-grow: 1;
}

.end-task {
    display: flex;
    gap: 10px;
    align-items: center;
}
.end-task p{
    font-size: 15px;
    color: gray;
}
.center{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.home{
    text-decoration: none;
    width: 150px;
    height: 3rem;
    border: 2px solid #9F1C21;
    color: #9F1C21;
    background-color: white;
    margin-top: 3rem;
    margin-right: 1.5rem;
    border-radius: 10px;
}
.theme{
    font-weight: 400;
    font-size: 18px;
}

.import-button{
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
    color: white;
    height: 3rem;
    background-color: #9F1C21;
    border-radius: 10px;
    margin-left: 0.4rem;
}
.export{
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
    color: white;
    height: 3rem;
    background-color: #198754;
    border-radius: 10px;
    margin-left: 0.4rem;
}
.file-input{
    background-color: #9F1C21;
    color: white;
    border-radius: 10px;
}
.end-task p.status-font{
    margin-left: 1rem;
    min-width: 300px;
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.date-font{
    color: black;
    font-weight: 700;
    font-size: 18px;
}
.done-class {
    background: linear-gradient(to right,lightgreen , green);;
    font-weight: bold;
}

.in-progress-class {
    background: linear-gradient(to right,navajowhite , yellow);
    font-weight: bold;
}
.checking-class{
    background: linear-gradient(to right, darksalmon , orange);
    font-weight: bold;
}
.rejected-class{
    background: linear-gradient(to right, salmon , red);
    font-weight: bold;
}

.pass-class {
    background: linear-gradient(to right, lightcoral , red);;
    font-weight: bold;
}